<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar class="sidebar-nav nav" [(opened)]="_opened" [showBackdrop]="true" [closeOnClickOutside]="true" [closeOnClickBackdrop]="true">
    <ul class="sidebar-nav nav">
      <li><a href="/login">Sign Out</a></li>
      <li><a href="#">Update Info</a></li>
      <li><a href="#">Delete Photo</a></li>
    </ul>
  </ng-sidebar>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              (click)="toggleState()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
          <!-- Page content -->
          <i (click)="_toggleSidebar()"  class="fa fa-bars"></i>
          <a href="/home">Denvr</a>
      </a>
    </div>
  </div>
</nav>
</ng-sidebar-container>


